.action {
    display: inline-flex;
    color: #fff;
    align-items: center;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    text-decoration: none;
    margin-right: 56px;

}

.action::before {
    content: " ";
    background-color: #c10016;
    width: 10px;
    height: 10px;
    margin-right: 10px;  
}