.first-banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/photo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 790px;
    border-bottom: 10px solid #4e4e4e;
    padding-left: 90px;
    padding-top: 110px;
}

.first-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.first-banner .one-box {
    margin-bottom: 40px;
}

.first-banner .navigation {
    display: flex;
    justify-content: space-evenly;
}

.fav-button.-second {
    box-shadow: 5px 5px 0px #4e4e4e;
}