.main-section {
    box-sizing: border-box;
    background-color: #c10016;
    background-size: 100%;
    height: 740px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #141414;
}

.main-section .main-title.-second {
    margin-bottom: 60px;
}

.main-section.-card {
    background-color: #232323;
    height: 520px;

}

.main-section.-about {
    background-color: #fff;
    height: 790px;
}