.main-description {
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.3;
    padding: 60px 100px;
}