.one-box {
    display: inline-block;
    background-color: #232323;
    box-shadow: 10px 10px 0 #4e4e4e;
    text-align: center;
    padding: 42px 45px;
}

.one-box .title {
    margin-bottom: 10px;
}

.one-box.-second {
    background-image: url(../../assets/img/logo-vkr.svg);
    
}